<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="150">
            <label>Magenest</label>
        </tab>
        <section id="subtab" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_SubTab::subtab_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>

                <field id="field1" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Text field</label>
                    <frontend_class>validate-email</frontend_class>

                    <!--                    <backend_model>Magenest\SubTab\Model\Config\Backend\TextField</backend_model>-->
<!--                    <frontend_model>Magenest\SubTab\Block\Adminhtml\System\Config\TextField</frontend_model>-->
                </field>

                <field id="field2" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Notice the color</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="field3" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom select</label>
                    <source_model>Magenest\SubTab\Model\Config\Backend\DisplayTextOptions</source_model>
                </field>

                <field id="count_movie" translate="label" type="text" sortOrder="4" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Count Movie</label>
                    <backend_model>Magenest\SubTab\Model\Config\Backend\CountMovie</backend_model>
                    <frontend_model>Magenest\SubTab\Block\Adminhtml\System\Config\CountMovie</frontend_model>
                </field>

                <field id="count_actor" translate="label" type="text" sortOrder="5" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Count Actor</label>
                    <backend_model>Magenest\SubTab\Model\Config\Backend\CountActor</backend_model>
                    <frontend_model>Magenest\SubTab\Block\Adminhtml\System\Config\CountActor</frontend_model>
                    <depends>
                        <field id="field3">1</field>
                    </depends>
                </field>
            </group>
        </section>

        <section id="subtab_config" translate="label" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Config time product</label>
            <tab>magenest</tab>
            <resource>Magenest_SubTab::subtab_config</resource>
            <group id="min_sale" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Config time product</label>
                <field id="min_sale_qty" translate="label" sortOrder="6" showInDefault="1" canRestore="1">
                    <label>Config time product</label>
                    <frontend_model>Magenest\SubTab\Block\Adminhtml\Form\Field\Minsaleqty</frontend_model>
                    <backend_model>Magenest\SubTab\Model\System\Config\Backend\Minsaleqty</backend_model>
                </field>
            </group>
        </section>

        <section id="colorpicker" translate="label" sortOrder="132" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Color option</label>
            <tab>magenest</tab>
            <resource>Magenest_SubTab::subtab_config_color</resource>
            <group id="colorpickerSetting" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Color option</label>
                <field id="color_option" translate="label" sortOrder="8" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Color option</label>
                    <frontend_model>Magenest\SubTab\Block\Adminhtml\Form\Field\Color</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>

        <section id="quantity" type="text">
            <group id="quantity_ranges" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Quantity Ranges</label>
                <field id="ranges" translate="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ranges</label>
                    <frontend_model>Magenest\SubTab\Block\Adminhtml\Form\Field\Ranges</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
