<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="custom_event_banner">
        <observer name="custom_event_banner_observer" instance="Magenest\Banner\Observer\ChangeName" />
    </event>
</config>
